{% load static %}
<head>
    <title>Ставь с котом</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]><script src="{% static "site/js/ie/html5shiv.js" %}"></script><![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="{% static "site/css/main.css" %}"/>
     <link rel="stylesheet" href="{% static "site/css/custom.css" %}"/>
    <!--[if lte IE 8]><link rel="stylesheet" href="{% static "site/css/ie8.css" %}" /><![endif]-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/components/flag.min.css">

</head>