{% load static %}
<!DOCTYPE HTML>
<html>


{% include 'modules/head.html' %}

<body id="top">

<!-- Header -->
<header id="header">
    <div class="inner">
        <h1><strong>Ставь на матчи Кубка Конфедераций 2017 вместе с котом Ахиллом</strong></h1>
        {% include 'components/statistic.html' %}
    </div>
</header>

<!-- Main -->
<div id="main">

    {% include 'components/preamble.html' %}
    {% include 'components/games.html' %}

</div>


{% include 'modules/footer.html' %} <!-- Footer -->
{% include 'modules/scripts.html' %} <!-- Scripts -->

</body>
</html>
