<!-- One -->
<section id="one">
    <p>
        На каждое крупное футбольное событие выбирается животное, которое предсказывает исход встреч.
        В 2017 году им оказался кот Ахилл, обитающий в Эрмитаже.
        Глухота не помешает его проницательному взгляду совершить верный прогноз. Или помешает?</br>
        Это мы и выясним в проекте <a href="https://twitter.com/hashtag/ставьСКотом?src=tren" target="_blank">#ставьСКотом</a>.
    </p>
    <p>
        На каждую встречу мы будем ставить 100 рублей, и считать, сколько мы выиграли или проиграли, следуя
        указаниям шерстяного оракула.
        Подписывайтесь на наш <a href="https://twitter.com/betwithcat" target="_blank">твиттер</a>, чтобы быть в
        курсе событий на турнире и на нашем счету :)
    </p>
    <ul class="actions">
        {% comment %}<li><a href="#" class="button">Даже у кота получается выигрывать на ставках! Попробуй и ты!</a></li>{% endcomment %}
    </ul>
</section>